# Ignorar TODO por defecto
*

# Permitir solo estos tipos de archivo
!*.py
!*.md
!*.log

# Permitir carpetas necesarias
!sounds/
!sounds/*
!__pycache__/

# No ignorar el propio .gitignore
!.gitignore
